.wrapper{
    display: flex;
    flex-direction: column;
    position:relative;
    /* height: 100vh; */
}

.hide{
    display: none;
}

.container{
position: relative;
display: flex;
justify-content: center;
}

body{
    background-color: #292929;
}

.btn_container{
    width: 100%;
    
}
nav{
    z-index: 1;
}

.nav_btn{
    border: none;
    width: 100%;
    background: rgb(182, 211, 51);
    font-family: inherit;
    font-weight: bold;
    font-size: 19px; 
    padding: 15px 70px; 
    cursor: pointer; 
    background-image: none; 
    color: white; 
    text-shadow: none; 
    text-transform: uppercase;
    letter-spacing: 5px;

}

#nav_btn:hover{
    background-color: rgb(202, 235, 57);
}

#sign_up_btn{
    background-color: orange;
}

.logo_container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#logo{
    margin-bottom: 0rem;
}

nav{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 0rem 0;
    background-color: white;
}

#cutlery{
position: relative;
left: 50%;
font-size: 48px;
transform: translateX(-50%);
margin: 0 0 40px 0;

}

h2{
    font-size: 5rem;
    font-weight: bold;
    /* padding: 3rem; */
}

.coming-soon{
    min-height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align: center;
}

.day,.hour,.minute,.second{
    font-size: 3rem;
}

form{
    background-color: white;
}


span{
    font-weight: bolder;
}

.jumbotron{
    /* z-index: -1; */
    background: 
    linear-gradient(217deg, #748bd6, rgba(255,0,0,0) 70.71%), linear-gradient(127deg, #29648b, rgba(0,255,0,0) 70.71%), linear-gradient(336deg, #7bbaed, rgba(0,0,255,0) 70.71%);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: right;
    color: #fff;
    /* margin-top:180px; */
    background-color: white;
}

.container-hour, .container-minute, .container-second{
    display: none;
}

#links{
     background-color: white;
     padding: 2rem 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* z-index: -1;  */

}

* {
    box-sizing: border-box;
  }
  
 

#recapLink{
    background-color: #101010;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

#recapLink:hover{
    background-color: #666666;
}

#links h2{
    font-size: 18pt;
    padding: 1rem 2rem 0rem 2rem;
}

#check {
    font-size: 48px;
    color: #B6D333;
    padding-top: 2rem;
    text-align: center;
}

.recap{
    display: flex;
    height: 400px;
    background-color: red;
    align-items: center;
}

iframe{
    position: relative; 
    width: 100%;
}

#info{
  display: flex;
  flex-direction: column;
  background-color: white;
}

.ta-c{
  text-align: center;
  align-items: center;
}

.card{
  height: 100%;
  display: flex;
  justify-content: center;
  border: none;
}

footer{
    display: flex;
    position: inline;
    height: 40vh;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    padding: 30px 10px;
    z-index: -1;
}

#footer_logo{
    width: 175px;
    position: relative;
    left: 50%;
    transform: translateX(-87.5px);
    margin-bottom: 10px;
}

footer p{
    color: rgb(224, 224, 224);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 12pt;
}

.btn_container_footer{
    display: flex;
    justify-content: center;
}

.footer_link{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    width: 300px;
    
}

.footer_link:hover{
    background-color: rgb(182, 211, 51);;
    color:white;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

/* -----------MEDIA QUERIES------------------- */

@media screen and (min-width: 768px){

    nav{
        flex-direction: row;
    }

    .nav_btn{
        width: 200px;
        margin-right: 50px;
        letter-spacing: 0px;
        font-size: 12px;

    }

    .nav_links{
        display: flex;
        align-items: center;
    }

    #logo{
        margin-left: 50px;
        margin-bottom: 0;

    }

    .btn_container{
        width: 50%;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }

    .logo_container{
        width: 50%;
        justify-content: flex-start;
    }

    iframe{
        width:560px;
        margin: 2rem;
        height: 315px;
  
    }

    .container-hour, .container-minute, .container-second{
        display:block;
    }

    .jumbotron{
        /* margin-top:70px; */
    }

    #links{
      flex-direction: row;
      height: 60vh;
    }

    iframe{
      position:relative;
      left: 50%;
      transform: translateX(-340px);
    }

    footer{
    }
}
