:root{
    back
}

.container{
position: relative;
display: flex;
/* justify-content: center; */
}

h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon{
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align: center;
}

.day,.hour,.minute,.second{
    font-size: 3rem;
}

.tithely-give-btn{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #00DB72;
    font-family: inherit;
    font-weight: bold;
    font-size: 19px; 
    padding: 15px 70px; 
    border-radius: 4px; 
    cursor: pointer; 
    background-image: none; 
    color: white; 
    text-shadow: none; 
    /* display: flex;  */
    float: none; 
    border: none;
   
}

span{
    font-weight: bolder;
}

.jumbotron{
    background: linear-gradient(217deg, #74d680, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #378b29, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #7bed9f, rgba(0,0,255,0) 70.71%);
    color: #fff;
}

